@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  box-sizing: border-box;
}

html {
  font-size: 11pt;
  font-family: 'Raleway', sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.65;
  margin: 0 !important;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

#header {
    position: fixed;
    z-index: 2;
    height: 3.25rem;
    width: 100%;
    line-height: 3.25rem;
    background-color: #111111;
}

#header .logo {
    height: inherit;
    line-height: inherit;
    color: #ffffff;
    font-size: 1rem;
    padding: 0 1.25rem;
    text-decoration: none;
}

#banner {
  position: relative;
  background-color: #2c2c2c;
  height: 35rem;
}

#banner-left {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  background-image: url(../../images/laptop.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner-right {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  background-color: #000000;
}

#name-info {
  z-index: 1;
  position: absolute;
  top: 10rem;
  left: 3rem;
  color: #ffffff;
}

.fa-facebook {
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.wrapper {
  padding: 8rem 0 6rem 0;
}

.inner {
  margin: 0 auto;
  width: 75rem;
  max-width: calc(100% - 6rem);
}

#cta {
  background-color: #2c2c2c;
}

#footer {
  background-color: #111111;
  padding: 8rem 0 6rem 0;
}